 @{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    @Html.Partial("PartialPage")
    @Html.Partial("AdminPartialHeader")
</head>

<body style="font-family:Verdana ;color:white;overflow-x:hidden ;background-image:url('/Content/images/nbg16.jpg');background-repeat:no-repeat;background-size:cover;">
    <div class="container-fluid">

       

        <h1> <b> <i> List of all products </i></b></h1>  <br /> <br /> 

        <div class="table-responsive">
            <table class="table" style="background:#ad5719; padding: 10px; width: 95%; border-radius: 10px; margin-left: 30px">

                <tr>
                    <td style="padding-left:10px"><br />&nbsp; ID <br /><br /></td>
                    <td><br />&nbsp; user_Id <br /><br /></td>
                    <td><br />&nbsp; C_Name <br /><br /></td>
                    <td><br />&nbsp; Sub_Category <br /><br /></td>
                    <td><br /> &nbsp; Code_N0 <br /><br /> </td>
                    <td><br /> &nbsp; Size <br /><br /> </td>
                    <td><br /> &nbsp; Color <br /><br /> </td>
                    <td><br /> &nbsp; Stock <br /><br /> </td>
                    <td><br /> &nbsp; T_Price <br /><br /> </td>
                    <td><br /> &nbsp; Image <br /><br /> </td>
                </tr>

                <tbody>

                    @foreach (var s in Model)
                    {
                        <tr style="border:1px solid black">
                            
                            <td style="padding:10px;padding-left:10px"> @s.p_Id</td>
                            <td style="padding:10px"> @s.user_Id</td>
                            <td style="padding:10px"> @s.cname</td>
                            <td style="padding:10px"> @s.sub_name</td>
                            <td style="padding:10px"> @s.code_num</td>
                            <td style="padding:10px"> @s.size</td>
                            <td style="padding:10px"> @s.color</td>
                            <td style="padding:10px"> @s.stock</td>
                            <td style="padding:10px"> @s.t_amount</td>
                            <td style="padding:10px"> @s.images</td>


                            <td>
                                <button > <a href="/Admin/Delete/@s.p_Id" style="color:black">  Delete </a></button>
                                &nbsp;&nbsp;&nbsp;<button> <a href="/Admin/Update/@s.p_Id" style="color:black">  Update </a></button>
                                
                            </td>
                        </tr>



                    }


                </tbody>
            </table>
        </div>
        <!---->
         <br /><br />
    </div>





        <script src="~/js/bootstrap.js" type="text/javascript"></script>

    </body>
</html>
