@{
     Layout = null;
}


@model Shoe_Store.Models.product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>

    

    @Html.Partial("PartialPage")
    @Html.Partial("AdminPartialHeader")

    <style>
        a {
            color: white;
        }
    </style>


</head>
<body style="font-family: Verdana; color: white; overflow-x: hidden; background-image: url('/Content/images/nbg16.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="container-fluid">

           
            <br />
            <div class="col-md-12" style="">
                <div class="col-md-3"></div>
                <div id="Signup_area" class="col-md-4">
                    <br />  <h2 style="text-align: center"> Update Product </h2> <br />

                    <form action="/Admin/EditOK/@Model.p_Id" method="POST">

                        <strong>Product Name</strong><br>
                        <input type="Text" id="sub_name" name="sub_name" class="form-control" placeholder="Enter Product Name" value="@Model.sub_name" required />
                        <span id="name1"></span><br>

                        <strong>Code Number</strong><br>
                        <input type="Text" id="code_num" name="code_num" class="form-control" placeholder="Enter Code" value="@Model.code_num" required />
                        <span id="name1"></span><br>

                        <strong>Size</strong><br>
                        <input type="Text" name="size" class="form-control" placeholder="Enter Size" value="@Model.size" required />


                        <strong>Color</strong><br>
                        <input type="Text" name="color" class="form-control" placeholder="Enter Color" value="@Model.color" required />
                        <br>

                        <strong> Stock </strong><br>
                        <input type="Text" name="stock" class="form-control" placeholder="Enter Total Stock" value="@Model.stock" required />
                        <br>

                        <strong>Price Of Product</strong> <br /> <br />
                        <input type="Text" name="t_amount" class="form-control" placeholder="Enter Price" value="@Model.t_amount" required />
                        <br>

                        <input type="file" name="file" required /> <br /> <br>  <br />

                        <button type="submit" class="btn btn-primary btn-block" value="submit" onclick="validate()"> Done </button> <br />

                    </form>

                </div>
                <div class="col-md-5"> </div>

            </div>

            <div class="col-md-12"> <br /> <br /> </div>


        </div>


        <script src="~/js/bootstrap.js" type="text/javascript"></script>

    </body>
</html>
